
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, they will default to 
# review when someone opens a pull request.
*       @liam-mcardle @jairaj-doijad01 @seyhau-gan @padma-srinivas @richard-hunter-hpe @darin-patton-hpe 
